<!DOCTYPE html>
<html>
<head>
    <title>IOT Webpage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <!--meta http-equiv="refresh" content="2"--> <!--Phương pháp reset webpage-->
</head>

</script>
<body>
    <h1>ESP32 Weather Dashboard</h1>
    <div class = "data">
      Độ ẩm: <span id = "h_output"></span> <br>
      Nhiệt độ: <span id = "t_output"></span> <br>
      Lượng mưa: <span id = "r_output"></span> <br> 
    </div>

</body>
</html>